@font-face {
    font-family: SubFont;
    src: url(../lib/font/Louis\ George\ Cafe\ Bold.ttf);
}
@font-face {
    font-family: MainFont;
    src: url(../lib/font/TypoGraphica.ttf);
}
@font-face {
    font-family: StyleFont;
    src: url(../lib/font/StretchPro.otf);
}
:root{
    overflow-x: hidden;
    width: 100%;
    color: white;
    background: black;

    --color-main: #FF4D00;
    --color-text: #fff;
    --color-alt: #000;

    --green: #00FF29;
    --yellow: #FFC700;
    --purple: #FF00E5;

    --padding-sides: 0px 80px;

    --navIndex: 1000;
}

*{
    margin:0;
    padding: 0;
    color: inherit;
    box-sizing: border-box;
    font-family: SubFont;
}

main{
    min-height: 100vh;
}
p{
    font-size: 18px;
    max-width: 300px;
}
.lowText{
    font-size: 2.5rem;
    max-width: 750px;
    line-height: 50px;
    
}

h1{
    font-family: MainFont;
    font-weight: 500;
    /* font-size: 13.35rem; */
    font-size: clamp(1rem, 15.6vw, 20rem);
    text-align: center;
}
h2{
    font-family: MainFont;
    font-size: 500;
    font-size: 3rem;
}
h3{
    color: var(--color-main);
    font-size: 2rem;
}
section h3{
    padding: var(--padding-sides);
    padding-bottom: 60px;
}

img{
    width:100%;
}


/* bannerText */
.banner{
    padding: 100px 0 150px;
    position: relative;
    overflow: hidden;
}
.bannerText{
    text-align: center;
}
.bannerText h2{
    font-family: StyleFont;
    font-size: 5rem;
    padding-bottom: 50px;
}
.HypeText{
    font-family: StyleFont;
    font-size: 30rem;
    line-height: 0;
    position: absolute;
    transform: translateY(130px) translateX(-80px);
    opacity: 0.2;
}


@media screen and (max-width: 600px) {
    :root{    
        --padding-sides: 0px 30px;
    }
    h1{
        font-size: clamp(1rem, 15vw, 20rem);
    }
}